html
    head
        title='Temperature Diagram'
        script(src='https://code.highcharts.com/highcharts.js')
        script(src='https://code.highcharts.com/modules/series-label.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
        script(src='https://code.highcharts.com/modules/export-data.js')
        style.
            body, html {
                font-family: sans-serif;
            }
    body
        div#container
        script.
          //include highcharts.js
            var items = !{data}
            items.map(function(e){e.x=new Date(e.x); return e;})
            Highcharts.chart('container', {
                title: {
                    text: 'Solar Employment Growth by Sector, 2010-2016'
                },
                subtitle: {
                    text: 'Source: thesolarfoundation.com'
                },
                yAxis: {
                    title: {
                        text: 'Number of Employees'
                    }
                },
                xAxis: {
                    xAxis: {
                        type: 'datetime'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 2010
                    }
                },
                series: [{
                    name: 'Installation',
                    data: items
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 600
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
