html
    head
        title='Temperature Diagram'
        script(src='https://code.highcharts.com/highcharts.js')
        script(src='https://code.highcharts.com/modules/series-label.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
        script(src='https://code.highcharts.com/modules/export-data.js')
        style.
            body, html {
                font-family: sans-serif;
            }
    body
        div#container
        script.
          //include highcharts.js
            var items = !{data}
            //items.map(function(e){e.x=new Date(e.x); return e;})
            Highcharts.chart('container', {
                chart: {
                    zoomType: 'x'
                },
                title: {
                    text: 'Messwerte'
                },
                yAxis: {
                    title: {
                        text: 'temp'
                    }
                },
                xAxis: {
                    xAxis: {
                        type: 'datetime'
                    },
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 2010
                    }
                },
                series: [{
                    name: 'Temperatur',
                    data: items,
                    turboThreshold: 0
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 600
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            });
