html
    head
        title='Temperature Diagram'
        script (src='https://code.highcharts.com/highcharts.js')
        script (src='https://code.highcharts.com/modules/series-label.js')
        script (src='https://code.highcharts.com/modules/exporting.js')
        script (src='https://code.highcharts.com/modules/export-data.js')
        style.
            body, html {
                font-family: sans-serif;
            }
    body
        div#container
        script
           include highcharts.js